.textboxform{
    border-radius: 0.375rem;
}

section{
    display: none;
    background-color: #C3D898;
}


section:target{
    display:block;
}

nav{
    background-color: #596F62 ;
}

nav div div ul li:hover{
    background: #759482;
    border-radius:5px;
    padding: 1vh 1vw;

}

nav div div ul li:target{
    color: aqua;
}

body{
    background-color: #7EA16B;
}

.adminchargebox{
    background-color: #7EA16B !important;
}